<div class="row expense-unit" style="border-width: 1px">
    <div class="col-xs-3">
        <div class="row">
            {{model.description}}
        </div>
    </div>
    <div class="col-xs-3">
    [{{model.time}}]<br>[{{model.date}}]

    </div>
    <div class="col-xs-3">
        {{model.amount}}
    </div>
    <div class="col-xs-3">
        <div class="expense-btn-group">
            <div class="btn-group">
                <button class="btn" ng-click="deleteExpense(model.id)"><span class="glyphicon glyphicon-remove"></span>
                </button>
                <button class="btn" ng-click="editExpense(model.id)"><span class="glyphicon glyphicon-edit"></span>
                </button>
            </div>
        </div>
    </div>
</div>