<div class="row text-center header-main">

    <span class="h1 ">Настройка справочников</span>
</div>
<div class="row">

    <div class="col-xs-6">
        <div class="widget-block">
            <div class="h3 widget-header" style="margin-bottom: 0px"> Recent expenses</div>
            <div ng-show="!expenses || expenses.length == 0" class="widget-block">
                <h4>
                    No data to show!
                </h4>
                            <span>
                                Clear filter or add some new expenses :)
                            </span>
            </div>
            <div ng-repeat="expense in expenses" class="expenses-list row">
                <div expense-unit
                     delete-lnr="deleteExpense(id)"
                     edit-lnr="addEditExpense(id)"
                     expense-model="expense"></div>

            </div>

        </div>
    </div>
    <div class="col-xs-3">

        <div class="row">
            <div class="widget-block">
                <div class="h4 widget-header">Common actions</div>
                <button type="button" class="btn full-width-group btn-success" style="margin-bottom: 8px" ng-click="addEditExpense()">Add expense
                </button>
                <button type="button" class="btn full-width-group btn-success" style="margin-bottom: 8px" ng-click="openPrintDialog()"></span>Print expenses
                </button>
                <button type="button" class="btn full-width-group btn-success" ng-click="openChartModal()"></span>Statistics
                </button>
            </div>
        <div class="widget-block row">
            <div class="col-xs-8" >Logged as: <b>{{user.username}}</b></div>
            <button type="button" class="btn btn-warning col-xs-4" ng-click="logout()">Logout</button>
        </div>
</div>
    </div>

    <ng-include src="'assets/html/modal/new-expense-modal.html'"></ng-include>
    <ng-include src="'assets/html/modal/print-expense-modal.html'"></ng-include>
    <ng-include src="'assets/html/modal/chart-expense-modal.html'"></ng-include>