<div class="row text-center header-main">

    <span class="h1 ">СС</span>
</div>
<div class="row">
    <div class="col-xs-3">
        <div class="widget-block">

            <div class="h3 widget-header"> Filter</div>
            <form class="form" name="filterForm">

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <label>Description</label>
                        </div>
                        <div class="col-xs-8">

                            <input type="text" class="form-control" ng-model="filter.description"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <label>Comment</label></div>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-model="filter.comment"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <label>Date&nbsp;from</label>
                        </div>
                        <div class="col-xs-8">
                            <div class="input-group date" datepicker>
                                <input type="text" class="form-control" ng-model="filter.dateFrom"
                                       data-date-format="YYYY-MM-DD">
                <span class="input-group-addon" id="request-date-btn1">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <label>Date&nbsp;to</label>
                        </div>
                        <div class="col-xs-8">
                            <div class="input-group date" datepicker>
                                <input type="text" class="form-control" ng-model="filter.dateTo"
                                       data-date-format="YYYY-MM-DD">
                <span class="input-group-addon" id="request-date-btn2">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <label>Min&nbsp;amount</label>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-model="filter.amountMin">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <label>Max&nbsp;amount</label>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-model="filter.amountMax">
                        </div>
                    </div>
                </div>
                <div class="form-group btn-block">
                    <button class="btn btn-success" ng-click="doFilter()">OK</button>
                    <button class="btn btn-warning" ng-click="clearFilter()">Clear</button>
                </div>

            </form>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="widget-block">
            <div class="h3 widget-header" style="margin-bottom: 0px"> Recent expenses</div>
            <div ng-show="!expenses || expenses.length == 0" class="widget-block">
                <h4>
                    No data to show!
                </h4>
                            <span>
                                Clear filter or add some new expenses :)
                            </span>
            </div>
            <div ng-repeat="expense in expenses" class="expenses-list row">
                <div expense-unit
                     delete-lnr="deleteExpense(id)"
                     edit-lnr="addEditExpense(id)"
                     expense-model="expense"></div>

            </div>

        </div>
    </div>
    <div class="col-xs-3">

        <div class="row">
            <div class="widget-block">
                <div class="h4 widget-header">Common actions</div>
                <button type="button" class="btn full-width-group btn-success" style="margin-bottom: 8px" ng-click="addEditExpense()">Add expense
                </button>
                <button type="button" class="btn full-width-group btn-success" style="margin-bottom: 8px" ng-click="openPrintDialog()"></span>Print expenses
                </button>
                <button type="button" class="btn full-width-group btn-success" ng-click="openChartModal()"></span>Statistics
                </button>
            </div>
        <div class="widget-block row">
            <div class="col-xs-8" >Logged as: <b>{{user.username}}</b></div>
            <button type="button" class="btn btn-warning col-xs-4" ng-click="logout()">Logout</button>
        </div>
</div>
    </div>

    <ng-include src="'assets/html/modal/new-expense-modal.html'"></ng-include>
    <ng-include src="'assets/html/modal/print-expense-modal.html'"></ng-include>
    <ng-include src="'assets/html/modal/chart-expense-modal.html'"></ng-include>