<div id="print-expense-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-submit="openPageToPrint()" name="myForm" ng-controller="ModalController">
                <div class="modal-header">
                    <h1>Print expenses</h1>
                </div>
                <div class="modal-body">
                    <h3>Please, select dates range to print</h3>

                    <div class="form-group">
                        <label>
                            Date from:
                        </label>

                        <div class="input-group date" datepicker>
                            <input type="text" class="form-control" ng-model="printParams.dateFrom"
                                   data-date-format="YYYY-MM-DD">
                <span class="input-group-addon" id="request-date-btn1">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Date to:
                        </label>

                        <div class="input-group date" datepicker>
                            <input type="text" class="form-control" ng-model="printParams.dateTo"
                                   data-date-format="YYYY-MM-DD">
                <span class="input-group-addon" id="request-date-btn2">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn" type="submit">Print</button>
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>